.block {
    display: block;
    background: red;
    margin: 5px;
  }
  .inline {
    display: inline;
    background: lightgreen;
    margin: 5px;
  }
  .inline-block {
    display: inline-block;
    background: gold;
    width: 100px;
    height: 40px;
    margin: 5px;
    text-align: center;
  }